body {
    
    margin:0px;
    height:100%;
}

.jumbotron{
    background-color: #5882FA;
    color: white;
}

.navbar{
    background-color: #610B21;
}

footer{
padding: 10px 10px 0 10px;
background-color: #2E2E2E;
color: white;
margin-bottom: 0px;
margin-top: 10px;
}

.card-autos {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;   
}

.footer-address-icon{
    padding-right: 10px;
}

.reservar-icon{
    padding-right: 10px;
}

.social{
    padding: 10px 10px 0 10px;
    margin-top: 10px;
    width: 40%;
}

