$blueSuave:#5882FA;
$blueSuavesito:#5882FA;
$blanco:white;
$vinoTinto:#610B21;
$grisOscuro:#2E2E2E;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin MarPading($top, $right, $bottom, $left){
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

body {
    
    margin:0px;
    height:100%;
}

.jumbotron{
    background-color: $blueSuave;
    color: $blanco;
}

.navbar{
    background-color: $vinoTinto;
}

footer{

    @include MarPading(10px, 10px, 0, 10px);
    background-color: $grisOscuro;
    color: $blanco;
@include margenes(10px,0px);
}

.card-autos {
    flex: 1 150px;
    @include MarPading(2px, 5px, 2px, 5px);
    @include margenes(10px,0px);
}

.btn-reserva{
    width: 100%;   
}

.footer-address-icon{
    @include MarPading(0px, 10px, 0px, 0px);
}

.reservar-icon{
    @include MarPading(0px, 10px, 0px, 0px);
}

.social{
    @include MarPading(10px, 10px, 0px, 10px);
    @include margenes(10px,0px);
    width: 40%;
}

