@blueSuave:#5882FA;
@blanco:white;
@vinoTinto:#610B21;
@grisOscuro:#2E2E2E;

.margenes(@top:0px, @bottom:0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.MarPading(@top:0px, @right:0px, @bottom:0px, @left:0px){
    padding-top: @top;
    padding-right: @right;
    padding-bottom: @bottom;
    padding-left: @left;
}

body {
    
    margin:0px;
    height:100%;
}

.jumbotron{
    background-color: @blueSuave;
    color: @blanco;
}

.navbar{
    background-color: @vinoTinto;
}

footer{

    .MarPading(10px, 10px, 0, 10px);
    background-color: @grisOscuro;
    color: @blanco;
    .margenes(10px,0px);
}

.card-autos {
    flex: 1 150px;
    .MarPading(2px, 5px, 2px, 5px);
    .margenes(10px,0px);
}

.btn-reserva{
    width: 100%;   
}

.footer-address-icon{
    .MarPading(0px, 10px, 0px, 0px);
}

.reservar-icon{
    .MarPading(0px, 10px, 0px, 0px);
}

.social{
    .MarPading(10px, 10px, 0px, 10px);
    .margenes(10px,0px);
    width: 40%;
}

