body {
  margin: 0px;
  height: 100%;
}
.jumbotron {
  background-color: #5882FA;
  color: white;
}
.navbar {
  background-color: #610B21;
}
footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  background-color: #2E2E2E;
  color: white;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-autos {
  flex: 1 150px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
}
.footer-address-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.reservar-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.social {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 40%;
}
